*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #f5fbff;
    
}
.icons{
  margin-left: 50%;
}
.email{
    display: inline-block;
    
}

.num{
   display: inline-block;
   
}

.margin{
    margin-left: 40%;
}
.headlogo{
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;

}
.bg-img{
    width: 100%;
    height: 500px;
    background-image: url(img/bg-img.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
.icon{
    margin-top: 13px;
    margin-left: 90px;
}
.flex{
    display: flex;
    list-style-type: none;
}